/db/beer_app/init/dml
/db/beer_logic/init/dml
/db/beer_data/init/dml
.xcl
/db/beer_app/pre/dml
/db/beer_logic/pre/dml
/db/beer_data/pre/dml
/db/beer_app/post/dml
/db/beer_logic/post/dml
/db/beer_data/post/dml
/db/beer_app/init/ddl
/db/beer_logic/init/ddl
/db/beer_data/init/ddl
/db/beer_app/pre/ddl
/db/beer_logic/pre/ddl
/db/beer_data/pre/ddl
/db/beer_app/post/ddl
/db/beer_logic/post/ddl
/db/beer_data/post/ddl
/db/_setup/workspaces/.env.sql
.gradle
build/
buildSrc
.ais
.vscode
